
@media screen and (max-width: 600px) {
	.mobile {
		padding: 25px;
	}
}

.light-yellow-site-name
{
	background-color: #FCD34D;
}

.light-yellow-sign-up
{
	justify-content: center;
	align-items: center;
	padding: 15px 10px;
	background-color: #EAB308;
	width: 220px;
	height: 54px;
}

.site-name
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 150%;
	/* identical to box height, or 15px */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.15em;
	color: #000000;
}

.nav-url
{
	/* text-base/Medium */
	font-family: Montserrat;
	font-style: bold;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */
	display: flex;
	align-items: center;
	text-align: right;
	/* gray/600 */
	color: #52525B;
}

.sign-up
{
	/* text-base/Medium */
	font-family: Montserrat;
	font-style: bold;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */
	display: flex;
	align-items: center;
	text-align: right;
	/* black */
	color: #000000;
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

.jumbotron-home
{
	background-color: #FEF9C3;
}

.navbar-dropdown
{
	/* gray/100 */
	background: #F4F4F5;
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.15);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
}

.navbar-item-dropdown
{
	/* text-base/Medium */
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */
	display: flex;
	align-items: center;
	text-align: center;
	/* gray/600 */
	color: #52525B;
}

.jumbo-title-home
{
	/* text-4xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	/* identical to box height, or 54px */
	align-items: center;
	color: #000000;
}

.jumbo-text-home
{
	/* text-xl/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	/* identical to box height, or 30px */
	align-items: center;
	color: #000000;
}


.jumbo-input-group, .jumbo-input-group-text
{
	/* white */
	background: #FFFFFF;
	height: 81px;
}

.jumbo-search-icon
{
	color: #71717A;
}

.jumbo-button
{
	background: #EAB308;
	width: 120px;
	height: 60px;
	padding: 10px 25px;
}

@media screen and (max-width: 600px) {
	.jumbo-button {
		width: 100px;
		height: 50px;
	}
}

.jumbo-button-text
{
	/* black */
	color: #000000;
	/* text-sm/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.table-title
{
	color: #000000;
	/* text-4xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	width: 214px;
	height: 54px;
}

.table-label
{
	/* gray/600 */
	color: #52525B;
	/* text-base/Medium */
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* identical to box height, or 24px */
}

input[type='checkbox']
{
	background-color: #FFFFFF;
}

input[type='checkbox']:checked
{
	background-color: #F59E0B;
	border: none;
}

.table-head
{
	/* yellow/100 */
	background: #FEF9C3;
	width: 1180px;
	height: 54px;
}

@media screen and (max-width: 600px) {
	.table-head {
		width: auto;
		height: 50px;
	}
}

.table-cell
{
	width: 1180px;
	height: 54px;
	/* text-base/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
}

.table-row
{
	/* text-base/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	width: 172px;
	height: 24px;
}

.table-row-cell
{
	/* text-base/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	width: 96px;
	height: 24px;
}

.table-button-first
{
	/* yellow/500 */
	background: #EAB308;
	width: 136px;
	height: 44px;
	padding: 10px 25px;
}

.table-button-text
{
	/* black */
	color: #000000;
	/* text-base/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	border: none;
}

.table-button
{
	/* yellow/500 */
	background: #FFFFFF;
	width: 136px;
	height: 44px;
	padding: 10px 25px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.section-title-1
{
	color: #000000;
	/* text-4xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	/* or 54px */
	width: 425px;
	height: 108px;
}

.section-title-icon-1
{
	color: #EAB308;
}

.section-subtitle-1
{
	color: #000000;
	/* text-2xl/Bold */

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	/* identical to box height, or 36px */
	width: 425px;
	height: 36px;
}

.section-text-1
{
	color: #000000;
	/* text-base/Regular */

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.section-button-1
{
	/* yellow/500 */
	background: #EAB308;
	width: 228px;
	height: 54px;
	padding: 15px 25px;
	/* text-base/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.fourth-bg
{
	/* yellow/100 */
	background: #FEF9C3;
}

.fourth-title
{
	/* text-4xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	color: #000000;
}

.fourth-text
{
	/* text-base/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
}

.fourth-button
{
	/* yellow/500 */
	background: #EAB308;
	padding: 20px 45px;
	width: 256px;
	height: 67px;
	/* text-lg/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
}

.section-five-header
{
	color: #000000;
	/* text-4xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
}

.section-five-text
{
	/* text-base/Medium */
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	color: #000000;
	height: 156px;
}

.section-hr-black
{
	/* text-base/Bold */

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	color: #000000;
	height: 23px;
}

.section-hr-yellow
{
	/* text-base/Regular */
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	/* yellow/500 */
	color: #EAB308;
	height: 23px;
}

.footer
{
	/* trueGray/900 */
	background: #171717;
}

.footer-button
{
	/* amber/300 */
	background: #FCD34D;
}

.footer-button-text
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.15em;
	color: #000000;
}

.footer-text
{
	/* text-base/Regular */

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	/* gray/300 */
	color: #D4D4D8;
	width: 294px;
	height: 72px;
}

.footer-link
{
	/* or 24px */
	/* gray/300 */
	color: #D4D4D8;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	width: 294px;
}


.footer-subtitle
{
	/* text-lg/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */
	/* gray/300 */
	color: #D4D4D8;
	width: 294px;
	height: 27px;
}

.footer-wahala
{
	/* text-lg/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */
	/* gray/300 */
	color: #D4D4D8;
	height: 27px;
	margin-top: 15px;
}

.footer-title
{
	/* text-2xl/Bold */
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
	/* identical to box height, or 36px */
	/* yellow/500 */
	color: #EAB308;
	width: 288px;
	height: 36px;
}

.footer-icon
{
	color: #F4F4F5;
}

.footer-form
{
	/* white */
	background: #FFFFFF;
	width: 288px;
	height: 46px;
}

.footer-add-on
{
	padding: 12px;
	/* yellow/500 */
	background: #EAB308;
}

.talent-bg
{
	background: url('/images/Bg img.png');
	background-size: cover; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	filter: brightness(0.2);
}

.sign-up-right-text
{
/* gray/800 */
color: #27272A;
/* text-xs/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
height: 18px;
}

.sign-up-text
{
/* gray/800 */
color: #27272A;
/* text-4xl/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
width: 272px;
height: 54px;
}

.sign-up-label
{
/* gray/800 */
color: #27272A;
/* text-base/Regular */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
}

.sign-up-input-group-text
{
background-color: white;
}

.check-label-text
{
color: #000000;
/* text-xs/Regular */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 150%;
height: 36px;
}

.sign-up-button-text
{
color: #000000;
/* text-sm/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 150%;
width: 101px;
height: 21px;
}

.sign-up-button
{
/* yellow/500 */
background: #EAB308;
width: 454px;
height: 51px;
/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 25px;
}

.login-container
{
background: #EBEBEB;
}

.login-button-linkedin
{
background: #0076B0;
width: 444px;
height: 62px;
padding: 15px 10px;
}

.login-up-button-text
{
color: #FFFFFF;
/* text-sm/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 150%;
width: 156px;
height: 21px;
}

.login-up-text
{
/* text-4xl/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
height: 54px;
}

.f-p-text-login
{
/* yellow/500 */
color: #EAB308;
/* text-base/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
text-align: right;
height: 24px;
}

.employer-bg
{
	background: url('/images/pexels-anna-shvets.png');
	background-size: cover; /* Resize the background image to cover the entire container */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-position: center; /* Center the image */
	filter: brightness(0.2);
}

.sign-up-text-emp
{
/* gray/800 */
color: #27272A;
/* text-4xl/Bold */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 150%;
width: 334px;
height: 54px;
}





